body {
  font-size: 1.3em;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.5px;
}
#title {
  text-align: center;
}

div {
  line-height: 2.1em;
}

#unitInput,
#unitTitle,
#unitRange {
  width: 100%;
}

#container {
  padding: 1.5em;
  border-radius: 15px;
  background-color: rgb(10, 125, 89);
  margin-top: 30px;
}

input[type='text'] {
  font-size: 1.1em;
  text-align: center;
}

@media (min-width: 700px) {
  body {
    width: 45%;
    background: url(farm-bg.jpg) no-repeat center fixed;
    background-size: cover;
  }
  #container {
    opacity: 0.8;
    margin-bottom: 150px;
  }
}
